<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mesalabs.cerberus">

    <application
        android:name="com.mesalabs.cerberus.CerberusApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:persistent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mesa_cerberuscore"
        android:supportsRtl="true"
        android:theme="@style/mesa_AppStyle.DayNight.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="SamsungBasicInteraction" android:value="SEP10"/>
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>

        <activity android:name="com.mesalabs.cerberus.activity.CreditsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/mesa_cerberustestux"
            android:theme="@style/mesa_AppStyle.DayNight.NoActionBar"
            android:hardwareAccelerated="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.mesalabs.cerberus.activity.OpenSourceLicenseActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/mesa_cerberustestux"
            android:theme="@style/mesa_AppStyle.DayNight.NoActionBar"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />


        <provider
            android:name="com.mesalabs.cerberus.update.content.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mesa_provider_paths"/>
        </provider>

    </application>

</manifest>
