<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mesalabs.cerberus">

    <application
        android:name="com.mesalabs.cerberus.CerberusApp"
        android:allowBackup="false"
        android:persistent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mesa_cerberuscore"
        android:supportsRtl="true"
        android:theme="@style/mesa_AppStyle.DayNight.NoActionBar">

        <meta-data android:name="SamsungBasicInteraction" android:value="SEP10"/>
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>

    </application>

</manifest>
